/* * {
    border: 2px solid red;
} */

#homepage {}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
    background: black;
    color: white;
    width: 100%;
    overflow-x: hidden !important;
}

#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    /* background-color: #0074D9; */
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    /* Adjust the size as needed */
    cursor: pointer;
    z-index: 9999;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
    /* gap: 15rem; */
}


header h1 {
    font-style: italic;
    letter-spacing: .3rem;
    font-weight: bold;
}

header h1::first-letter {
    color: rgb(72, 29, 29);
    /* font-weight: bolder; */
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header .desktop-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

header .desktop-nav a li {
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
    transition: padding-bottom 0.2s;
    color: #ffffff;
}

header .desktop-nav a li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

header .desktop-nav a li:hover::before {
    transform: scaleX(1);
}

.mobile-menu {
    display: none;
}

#menu-toggle {
    display: none;
}

#section-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 14rem;
}

#section-1 h6 {
    font-size: 1.3rem;
    margin-bottom: -3.5rem;
}

#section-1 p {
    font-size: 5rem;
}

#section-1 p span {
    color: brown;
}

.waving img {
    height: 38rem;
    margin-right: 4rem;
    z-index: 9999;
}


#section-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    margin-top: 10rem;
    padding: 6rem 0;

}

#section-2 .my-image {
    max-width: 100%;
    /* width: 250px;
    height: 250px; */
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #feffff;
}

#section-2 .my-image img {
    width: 100%;
    height: 250px;
    /* max-height: auto; */
    display: block;

}

#section-2 .mobile-about-me {
    display: none;
}


#section-2 .about-me h2 {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
}

#section-2 .about-me h2::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    animation: underlineAnimation 1.5s linear infinite;
}

@keyframes underlineAnimation {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

main #section-2 .about-me>p {
    line-height: 2rem;
    font-size: 1.3rem;
}

main #additional-info .nav {
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 3rem;
}

main #additional-info .nav li {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: inherit;
    color: rgb(0, 194, 219);
}

/* Add styles for the underline */
.link.underline {
    position: relative;
}

.link.underline::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 0;
    top: 1.5rem;
    left: 30%;
    background-color: rgb(0, 126, 161);
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}

#additional-info .see {
    margin-top: 2rem;
}

#additional-info .content {
    background: rgba(255, 255, 255, 0.116);
    padding: 20px;
    border-radius: 6px;
}

.skill {
    margin-bottom: 20px;
    margin-top: 2rem;
    background: #007cbfdd;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill>div {
    margin: 0.5rem 0;
}

.skill p {
    margin: 0;
    font-weight: 400;
}

.progress-bar {
    width: 100%;
    /* background-color: #353b35; */
    background: rgba(0, 0, 0, 0.664);
    display: block;
    height: 20px;
    border: 1px solid rgba(21, 65, 152, 0.3);
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* position: relative;
    margin-top: 5px; */
}

.progress {
    height: 20px;
    float: left;
    background: #002989;
    width: 0;
    height: 100%;
    /* background-color: #0074D9; */
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    transition: width 1s ease-in-out;
}

.web-development {
    animation: web-development 3s;
}

.ml {
    animation: ml 3s;
}

.dl {
    animation: dl 3s;
}

.nl {
    animation: nl 3s;
}

.dv {
    animation: dv 3s;
}

.forecasting {
    animation: forecasting 3s;
}

.python {
    animation: python 3s;
}

.r-prog {
    animation: r-prog 3s;
}

.sp {
    animation: sp 3s;
}

@keyframes web-development {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes ml {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes dl {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes nl {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes dv {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes forecasting {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes r-prog {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes sp {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.about-me-close-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    float: right;
    margin-top: -1rem;
}

.about-me-close-button i {
    font-size: 24px;
    color: #ffffff;
}

#section-3 {
    max-width: 100%;
    height: 100%;
}

#my-work {
    margin: 0 10rem;
    padding: 8rem 0;
}

#my-work>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#my-work>div>h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 4rem;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}


#section-3 #my-work .card {
    position: relative;
    width: 25%;
    border-radius: 6px;
    border: white solid 3px;
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    max-width: 100%;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card:hover .card-body {
    height: 100%;
}

.card-title {
    width: 100%;
    margin-top: 15%;
    color: white;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    font-family: inherit;
    /* transform: rotate(-5deg)skew(-5deg); */
}

.card-info {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 50% 0 0 18%;
    width: 70%;
    line-height: 1.2em;
}

#heart-info {
    position: relative;
    top: -2rem;
}

#dog-info {
    position: relative;
    top: -1rem;
}

#my-work>p {
    text-align: center;
    position: relative;
    left: 9rem;
    margin-top: 3rem;
    font-size: 1rem;
}

#my-work>p a {
    color: blue;
}

footer {
    background: url("/images/pexels-daniel-putzer-633409.jpg");
    background-size: cover;
    padding: 6rem 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

footer>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 6rem;
    margin-top: 4rem;
    /* margin-bottom: 10rem; */
}

.contact-me {
    margin-top: -2.8rem;
}

.contact-me h1 {
    position: relative;
    top: -1rem;
    font-size: 3rem;
    color: #0074D9;
    font-weight: bold;
}

.contact-me a {}

.contact-me .mail {
    height: 2rem;
    vertical-align: middle;
    margin-right: 10px;
}

.contact-me .phone {
    height: 2rem;
    vertical-align: middle;
    margin-right: 10px;
}

#phone-mail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#icons {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin: 2rem 0;
}

#icons div .github img {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#icons div .linkedin img {
    width: 40px;
    height: 40px;
}

#icons div .twitter img {
    width: 40px;
    height: 40px;
}

.cv {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #0074D9, #0056b3);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 2rem;
}

.cv:hover {
    background: linear-gradient(to bottom, #0056b3, #0074D9);
}

.mobile-icons {
    display: none;
}

.mobile-cv {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.input-group {
    position: relative;
}

.input {
    width: 40rem;
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #ffffff90;
    background-color: transparent;
    transition: outline-color 500ms;
    background-color: rgba(128, 128, 128, 0.126);
}

.input:is(:focus, :valid) {
    outline-color: #3c50eb;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;
    font-family: 'Mooli', sans-serif;
}

.input:focus+.input-label,
.input:valid+.input-label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
}

#contact-form textarea {
    background-color: rgba(128, 128, 128, 0.126);
    width: 40rem;
    height: 10rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    outline: 2px solid #ffffff90;
    transition: outline-color 500ms;

}

#contact-form textarea:focus {
    border-color: #3c50eb;
}

#contact-form textarea::placeholder {
    color: #ffffff;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
}

button span:nth-child(6) {
    position: relative;
}

button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

.message-notification {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -1.5rem;
}

.sent-message {
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 1000px) {

    /* * {
        border: 2px solid red;
    } */

    #scrollToTopButton {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 40px;
        height: 60px;
        background: transparent;
        color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        /* Adjust the size as needed */
        cursor: pointer;
        z-index: 9999;
    }
    

    body {
        width: 100%;
    }

    header .desktop-nav ul {
        display: none;
    }

    .waving {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    header h1 {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        /* background-color: #3333333e; */
        /* background: white; */
        backdrop-filter: blur(-10px);
        border-radius: 4px;
        position: fixed;
        top: 0;
        right: -1000px;
        width: 100%;
        height: 8.5rem;
        transition: right 0.6s ease-in-out;
        z-index: 1;
        max-width: 100%;
    }

    .mobile-menu a {
        display: block;
        padding: 10px;
        /* text-align: center; */
        text-decoration: none;
        color: white;
        font-size: 20px;
    }


    #menu-toggle:checked+.menuButton+.mobile-menu {
        right: 0;
    }

    #menu-toggle:checked+.menuButton {
        display: none;
    }

    .menu-open {
        right: 0;
    }

    .menuButton {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13%;
        color: #090909;
        width: 3.5em;
        height: 3.5em;
        border-radius: 0.5em;
        background: #171717;
        border: 1px solid #171717;
        transition: all .3s;
        box-shadow: inset 4px 4px 12px #3a3a3a,
            inset -4px -4px 12px #000000;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menuButton:hover {
        border: 1px solid black;
    }

    .menuButton:active {
        color: #666;
        box-shadow: 6px 6px 12px #3a3a3a,
            -6px -6px 12px #000000;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    .menuButton span {
        width: 30px;
        height: 4px;
        background: rgb(200, 200, 200);
        border-radius: 100px;
        transition: 0.3s ease;
    }

    input[type]:checked~span.top {
        transform: translateY(290%)rotate(45deg);
        width: 40px;
    }

    input[type]:checked~span.bot {
        transform: translateY(-270%) rotate(-45deg);
        width: 40px;
        box-shadow: 0 0 10px #495057;
    }

    input[type]:checked~span.mid {
        transform: translateX(-20px);
        opacity: 0;
    }

    #homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }

    #section-1 {
        margin: 0;
        margin-top: 3rem;
    }

    #section-1 .data-scientist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* margin: 0 25%; */
        width: 50%;
        padding: 0;
    }

    #section-1 h6 {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        margin-bottom: -2.5rem;
    }

    #section-1 p {
        font-size: 4rem;
    }



    #section-2 {
        /* flex-wrap: nowrap; */
        opacity: .8;
        /* color: black; */
        justify-content: center;
        align-items: center;
    }

    #section-2 .my-image {
        /* margin-left: 1rem; */
        /* float: left; */
        border: 2px solid #feffff;
    }

    #section-2 .my-image img {
        width: 150px;
        height: 150px;
    }

    #section-2 .about-me-h2 {
        display: none;
    }

    #section-2 .mobile-about-me {
        display: block;
        color: white;
    }

    #section-2 .mobile-about-me h1 {
        font-size: 2rem;
        position: relative;
        display: inline-block;
        padding-bottom: 2px;
        text-decoration: none;
        /* color: #ffffff; */
        /* color: black; */
        overflow: hidden;
    }

    #section-2 .mobile-about-me h1::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        animation: underline 1.5s linear infinite;
    }

    @keyframes underline {
        0% {
            width: 0;
        }

        50% {
            width: 100%;
        }

        100% {
            width: 0;
        }
    }

    #section-2 .about-me>p {
        font-size: 0.8rem;
        line-height: 1.5;
        margin: 0 2rem;
    }

    br {
        display: none;
    }

    #additional-info {
        margin: 0;
    }

    #additional-info .nav {
        justify-content: center;
        align-items: center;
        gap: 0rem;
        margin: 0;
        margin-top: 1rem;
        /* margin-right: 2rem; */
    }


    #additional-info .nav li {
        font-size: 0.65rem;
        margin: 0;

    }

    .see {
        padding: 0 1rem;

    }

    #additional-info .content {
        padding: 10px;
        margin: 1rem;
    }

    .skill {
        margin-bottom: 0px;
        margin-top: 2rem;
        background: #007cbfdd;
        padding: 0px;
        border-radius: 6px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .skill>div {
        margin: 1rem;
    }

    .content>p {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: 400;
        text-align: left;
    }

    .progress-bar {
        height: 18px;
    }

    .progress {
        height: 18px;
    }

    .progress span {
        font-size: 1rem;
    }

    .about-me-close-button {
        padding: 5px;
        margin-top: -.5rem;
    }

    .about-me-close-button i {
        font-size: 24px;
        color: #ffffff;
    }

    #my-work {
        margin: 0;
        padding: 0;
    }

    #my-work>div {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #my-work>div>h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    #my-work>p {
        text-align: left;
        position: static;
        font-size: 1rem;
    }

    #section-3 #my-work .card {
        width: 100%;
    }


    .card-img {
        width: 100%;
    }

    .card-title {
        display: none;
    }

    .card-info {
        display: none;
    }

    footer {
        padding: 6rem 0;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 0;
    }

    footer>div {
        display: block;
        margin: 2rem 0rem;
        margin-top: 4rem;
        /* margin-bottom: 10rem; */
    }

    .contact-me {
        margin-top: -2.8rem;
        margin-bottom: 0;
    }

    .contact-me h1 {
        position: relative;
        top: -1rem;
        text-align: center;
        font-size: 3rem;
        color: #0074D9;
        font-weight: bold;
    }

    .contact-me .mail {
        margin-right: 10px;
    }

    .contact-me .phone {
        margin-right: 10px;
    }

    #phone-mail {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        width: 50%;
        margin: 0 2rem;
        gap: 2rem;
    }

    #phone-mail a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fffefe;
    }

    #icons {
        display: none;
    }

    .cv {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: initial;
        margin: 0 2rem;
        margin-top: 4rem;
    }

    .input-group {
        position: relative;
        /* width: 100%;
        margin-bottom: 20px; */
    }

    .input {
        width: 100%;
        max-width: 80%;
        /* padding: 10px; */
        margin-right: 0;
        height: 1rem;
    }

    .input-label {
        position: absolute;
        top: 0;
        left: 10px;
        transform: 10px 10px;
        color: #fff;
        transition: transform 500ms, opacity 500ms;
        font-family: 'Mooli', sans-serif;
        padding: 0px 10px;
        /* Adjust padding as needed */
    }

    .input:focus+.input-label,
    .input:valid+.input-label {
        opacity: 0;
        transform: translate(10px, 10px);
        transition: opacity 500ms, transform 500ms;

    }

    #contact-form textarea {
        width: 100%;
        max-width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        height: 10rem;
        padding: 10px;
    }

    #button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
        width: 80%;
    }

    button {
        padding: 1rem 2rem;
    }

    #cv-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-top: 3rem;
        margin-bottom: -3.5rem;
    }

    .mobile-icons {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1.1rem;
        /* margin: 0 4rem; */
        /* margin-top: -2.5rem; */
    }

    .mobile-icons div .github img {
        background: white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .mobile-icons div .linkedin img {
        width: 35px;
        height: 35px;
    }

    .mobile-icons div .twitter img {
        width: 35px;
        height: 35px;
    }

    .mobile-cv {
        display: block;
        /* justify-content: center; */
        /* width: 30%; */
        /* margin: 0 auto; */
        /* margin-top: 2.5rem; */
        /* margin-bottom: -5rem; */
        padding: 10px 20px;
        background: linear-gradient(to bottom, #0074D9, #0056b3);
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }

    .mobile-cv:hover {
        background: linear-gradient(to bottom, #0056b3, #0074D9);
    }

    .message-notification {
        display: none;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
        text-align: center;
        margin-top: 5rem;
    }

}

@media (max-width: 1250px) {
    #my-work {
        margin: 0 5rem;
    }

    #my-work>div {
        gap: 2rem;
    }

    #my-work>div>h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    #my-work>p {
        left: 5rem;
    }
}